<div class = "trip-dialog-box-container">
        <div class = "trip-dialog-box">
            <div class = "trip-dialog-box-header">
                <div class="trip-dialog-box-header-title">Update Trip</div>
            </div>
             <div class="trip-dialog-box-middle">
                <label class="dialog-label">Name</label>
                <input id="name" type="text" class="dialog-input" ><br/>
                <label class="dialog-label">Type</label>
                <input id="type" type="text" class="dialog-input" ><br/>
                 <label class="dialog-label">Adress</label>
                <input id="address" type="text" class="dialog-input" ><br/>
                 <label class="dialog-label">Start date</label>
                <input id="startDate" type="text" class="dialog-input" ><br/>
                <label class="dialog-label">End date</label>
                <input id="endDate" type="text" class="dialog-input"><br/>
                <p class="details-box">
                <label for="details" class="dialog-details-label">Details</label>
                    <textarea id="details"  class = "dialog-details-input" cols="40" rows="8"></textarea>
                </p><br/>
            </div>
            <div class="trip-dialog-box-bottom">
                <button type = "submit" class = "add-button-dialog">Update</button>
                <button id="cancel" class = "cancel-button-dialog">Cancel</button>
            </div>
        </div>
        
  </div>
