<div class="profile-box">
        <div class = "profile-image-box">
            
            <div class = "profile-image-box-upper">
                <img class="profile-image" src="">
            </div>
            <div class = "profile-image-box-bottom">
                
                <div class="profile-image-box-bottom-name">

                </div>
                <div class = "profile-image-box-bottom-description">

                </div>
            
            </div>
            
       </div>
            
       <div class = "profile-form-box">
           <div class="profile-form-box-title">
                User details
           </div>
           <button type="button" class = "profile-edit-button">
               <a><i class="fa fa-edit"></i>Edit</a>
           </button>

         <form class="profile-form" method="post">
          
                  
            <label class="profile-label" for="username" >Username</label>
        <input id = "username" class="profile-input" type="text" name="username" value="" disabled="true"/><br>
         <label class="profile-label" for="firstName">First Name</label>         
        <input id = "firstName" class="profile-input" type="text" name="firstname" value=""  /><br>
                  <label class="profile-label" for="lastName">Last Name</label>   
        <input id= "lastName" class="profile-input" type="text" name="lastname" value=""  /><br>
                  <label class="profile-label" for="address">Address</label>   
        <input id="address" class="profile-input" type="text" name="address" value=""  /> <br>
                  <label class="profile-label" for="email">Email</label>   
        <input id="email" class="profile-input" type="text" name="email" value=""  /><br>
        <p class="description-box">
        <label class="profile-label" for="description">Description</label>   
        <textarea id="description" name ="description" class = "description-input" cols="60" rows="5"  disabled =  "true" >
            </textarea>
        </p><br>
       
            
       </form>
            
       </div>

        
      

    
       
    </div>
   